// Everblush palette

$black: #171717;
$gray100: #282828;
$gray90: #2d3437;
$gray80: #373d3f;
$gray70: #43494b;
$gray60: #5d6567;
$gray50: #767b7c;
$gray40: #8f9293;
$gray30: #a8a9aa;
$gray20: #c1c2c3;
$gray10: #dadada;
$white: #fff;

$red: #fa4242;

$green: #8ccf7e;
$green_dark: #70a665;

$yellow: #e5c76b;
$yellow_dark: #b89f56;

$blue: #67b0e8;
$blue_dark: #528dba;

$magenta: #c47fd5;
$magenta_dark: #9d66aa;

$cyan: #6cbfbf;
$cyan_dark: #569999;

$base: $black;
$surface0: $gray100;
$surface1: $gray90;
$surface2: $gray80;
$white0: $gray10;
$white1: $white;
$white2: $white;
$accent: $red;
