tooltip {
  background-color: $surface0;
  color: $white0;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: $surface2;
}

entry {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: $surface2;
  background-color: $surface1;
  color: $white0;
}

scale {
  all: unset;
}

calendar {
  all: unset;
  background-color: $surface0;
  font-size: 20px;
  color: $white0;

  .header {
    color: $accent;
    font-weight: bold;
  }

  &:selected {
    color: $base;
    background-color: $accent;
    border-radius: 8px;
  }

  &:indeterminate {
    color: $surface2;
  }
}

checkbutton {
  border-radius: 24px;
  background-color: $surface1;
  padding: 4px;

  check {
    min-height: 15px;
    min-width: 15px;
    color: $white0;
  }

  &:checked {
    check {
      border-radius: 24px;
      background-color: $white0;
    }
  }
}

menu {
  background-color: $base;
  border-radius: get-token(border-radius);
  padding: get-token(padding);

  menuitem {
    padding: 2px 6px;
    border-radius: get-token(border-radius, small);

    &:hover {
      background-color: $accent;
    }
  }

  separator {
    background-color: $surface0;
    margin: 6px 2px;
    min-height: 1px;
  }
}
