.reveal-on-hover {
  padding: 6px 0px;
}

.reveal-on-click {
  color: $surface2;
  padding: 4px 0px;
}

.separator {
  padding: get-token(padding, small);

  .dot {
    padding: 3px;

    border-radius: 100%;

    background-color: $white;
  }
}

.vertical-bar-slider {
  trough {
    background-color: $surface2;
    border-radius: get-token(border-radius);
    min-height: 80px;
    min-width: 10px;

    slider {
      background-color: $white2;
      border-radius: get-token(border-radius, large);
      margin: -10px;
    }

    highlight {
      background-color: $white0;
      border-radius: get-token(border-radius);
    }
  }

  .volume-icon {
    font-size: get-token(font-sizes, large);
  }
}
