.animation {
  transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.widget {
  padding: get-token(padding, small);
  margin: get-token(margin);
  border-radius: get-token(border-radius, small);
  background-color: $surface0;
}

.panel-widget {
  @extend .widget;

  padding: get-token(padding);
  margin: get-token(margin, large);
  border-radius: get-token(border-radius);
}

.icon {
  font-size: get-token(font-sizes);
  font-family: "Symbols Nerd Font";
}

.popup {
  padding: get-token(padding, small);
  border-radius: get-token(border-radius);
  margin: get-token(margin);
  background-color: $surface1;
}

.border {
  border: 2px #fff solid;
}

button {
  transition-duration: 0.4s;
  border-radius: 6px;

  &:hover {
    background-color: $surface2;
  }
}

.mainentry {
  background-color: $surface1;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.mainentry label {
  font-size: 18px;
  color: $white0;
}

.smallentry {
  @extend .mainentry;

  label {
    font-size: 15px;
  }
}
