.border {
  border: 2px white solid;
}

button {
  transition-duration: 0.4s;
  border-radius: 6px;

  &:hover {
    background-color: $surface2;
  }
}

.popup {
  background-color: $base;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: $surface2;
  border-width: 2px;
  margin: 10px;
}

.mainentry {
  background-color: $surface1;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.mainentry label {
  font-size: 18px;
  color: $white0;
}

.smallentry {
  @extend .mainentry;

  label {
    font-size: 15px;
  }
}
