@import "tokens";

@mixin widget() {
  padding: get-token(padding, small);
  margin: get-token(margin);
  border-radius: get-token(border-radius);
  background-color: $surface0;
}

@mixin icon() {
  font-size: get-token(font-sizes);
  font-family: "Symbols Nerd Font";
}

@mixin popup() {
  padding: get-token(padding, small);
  border-radius: get-token(border-radius);
  margin: get-token(margin);
  background-color: $surface1;
}
