@mixin font($size: "default") {
  $sizes: (
    "small": 16px,
    "medium": 18px,
    "large": 20px,
  );

  @if map-has-key($sizes, $size) {
    font-size: map-get($sizes, $size);
  } @else {
    font-size: map-get($sizes, "large");
  }
}

@mixin widget() {
  padding: 0.6em 0.4em;
  margin: 4px 2px;
  border-radius: 8px;
  background-color: $surface0;
}

@mixin icon() {
  @include font("medium");

  font-family: "Symbols Nerd Font";
}

@mixin popup() {
  background-color: $base;
  padding: 8px;
  border-radius: 12px;
  border-style: solid;
  margin: 10px;
}
