.clock {
  @extend .widget;

  font-size: get-token(font-sizes);
}

.language {
  @extend .widget;
}

.logo {
  @extend .widget;

  label {
    @extend .icon;

    color: $accent;
  }
}

.workspaces {
  @extend .widget;

  padding: 12px 6px;

  * {
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 600ms;
  }

  .workspace {
    border-radius: 6px;
    margin: 0px 6px;
  }

  .workspacething {
    background-color: $surface2;
  }

  .workspacethingactive {
    background-color: $accent;
  }
}
