.clock {
  @include widget;

  label {
    font-size: 20px;
  }
}

.language {
  @include widget;

  label {
    font-size: 18px;
  }
}

.logo {
  @include widget;

  label {
    @include icon;

    color: $accent;
  }
}

.workspaces {
  @include widget;

  * {
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
  }

  .workspace {
    margin: 4px 8px;
    border-radius: 4px;
  }

  .workspacething {
    background-color: $surface2;
  }

  .workspacethingactive {
    background-color: $accent;
  }
}
