tooltip {
  background-color: $surface0;
  color: $white0;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: $surface2;
}

scale {
  all: unset;

  trough {
    background-color: $surface2;
    border-radius: 24px;
    min-height: 80px;
    min-width: 10px;
    margin: 5px;

    slider {
      background-color: $white2;
      border-radius: 25px;
      min-height: 15px;
      min-width: 15px;
      margin: -10px;
    }

    highlight {
      background-color: $white0;
      border-radius: 24px;
    }
  }
}

entry {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: $surface2;
  background-color: $surface1;
  color: $white0;
}

calendar {
  all: unset;
  background-color: $surface0;
  font-size: 20px;
  color: $white0;

  .header {
    color: $accent;
    font-weight: bold;
  }

  &:selected {
    color: $base;
    background-color: $accent;
    border-radius: 8px;
  }

  &:indeterminate {
    color: $surface2;
  }
}

checkbutton {
  border-radius: 24px;
  background-color: $surface1;
  padding: 4px;

  check {
    min-height: 15px;
    min-width: 15px;
    color: $white0;
  }

  &:checked {
    check {
      border-radius: 24px;
      background-color: $white0;
    }
  }
}
