$rounded: 0.8em;

$widget-padding: 0.75em 0.65em;
$widget-margin: 0.2em;

$panel-widget-margin: 0.4em;

$icon-size: 1.25em;
$font-size: 1.2em;

$design-tokens: (
  font-sizes: (
    small: 16px,
    default: 18px,
    large: 20px,
    extra: 30px,
  ),
  padding: (
    small: 4px,
    default: 10px 8px,
    large: 10px,
    extra: 12px,
  ),
  margin: (
    small: 4px,
    default: 6px,
    large: 8px,
    extra: 16px,
  ),
  border-radius: (
    small: 4px,
    default: 6px,
    large: 8px,
    extra: 16px,
  ),
);

@function get-token($category, $key: null) {
  $tokens: map-get($design-tokens, $category);

  @if $tokens ==null {
    @error "Category `#{$category}` not found in design tokens.";
  }

  @if $key ==null {
    @if map-has-key($tokens, default) {
      $key: default;
    } @else {
      @error "Default key not found in category `#{$category}`.";
    }
  }

  $value: map-get($tokens, $key);

  @if $value ==null {
    @error "Token `#{$key}` not found in category `#{$category}`.";
  }

  @return $value;
}
