@mixin widget() {
  color: $white0;
  padding: 6px;
  margin: 5px 2px;
  border-radius: 8px;
  background-color: $surface0;
}

.widget {
  @include widget;
}

.controlpanel-widget {
  @include widget;
  margin: 5px;
}
