@import "../../../.config/hypr-theme/waybar/global.css";
@import "../style/main.css";

window {
  background-color: transparent;
}

window>box {
  min-height: 28px;
  padding: 6px;
  padding-bottom: 2px;
}

#taskbar button {
  opacity: 0.2;
}

#taskbar button.active {
  opacity: 1;
}

#backlight {
  background-color: #90b1b1;
}

#custom-power {
  font-size: 18px;
  min-width: 20px;
}

#custom-launcher {
  font-size: 18px;
}

#wireplumber.muted {
  color: red;
}