@import "../../../.config/hypr-theme/waybar/global.css";
@import "../style/main.css";

window {
  background-color: transparent;
}

window>box {
  min-height: 30px;
  padding: 6px;
  padding-bottom: 2px;
}