@import "../../../.config/hypr-theme/waybar/global.css";

* {
  border: none;
  border-radius: 6px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces * {
  font-size: 12px;
}

#workspaces {
  background-color: @backgrounddark;
  border: #272727 1px solid;
  padding: 0px 4px;
}

#workspaces button {
  opacity: 0.2;
  padding: 0px 6px;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  font-size: 12px;
}

#workspaces button.active {
  opacity: 1;
}

#workspaces button:hover {
  opacity: 1;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#custom-layout,
#custom-updater,
#custom-snip,
#custom-wallpaper,
#custom-playerlabel,
#tags,
#taskbar,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#wireplumber,
#language {
  background-color: @backgrounddark;
  border: #272727 1px solid;
  padding: 0px 6px;
}

#taskbar button {
  opacity: 0.2;
}

#taskbar button.active {
  opacity: 1;
}

#battery.charging,
#battery.plugged {
  background-color: #26a65b;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  background-color: #90b1b1;
}

#custom-playerlabel {
  min-width: 170px;
}

#network {
  min-width: 160px;
}

#network.network-2 {
  min-width: 170px;

}

#network.disconnected {
  color: red;
}

#custom-media {
  color: white;
}

#custom-media.custom-spotify {
  color: white;
}

#custom-media.custom-vlc {
  color: white;
}

#custom-power {
  font-size: 18px;
  min-width: 20px;
}

#custom-launcher {
  font-size: 18px;
}

#custom-layout {
  color: white;
  font-size: 20px;
}

#custom-updater {
  color: white;
}

#custom-snip {
  color: skyblue;
  font-size: 20px;
}

#custom-wallpaper {
  color: pink;
  font-size: 20px;
}

#tags {
  font-size: 20px;
}

#tags button.occupied {
  color: skyblue;
  margin: 5px;
  background-color: #272727;
}

#tags button.focused {
  color: black;
  margin: 5px;
  background-color: white;
}

#tags button.urgent {
  color: red;
  margin: 5px;
  background-color: white;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#pulseaudio {
  min-width: 55px;
}

#pulseaudio.muted {
  color: red;
}


#memory,
#cpu {
  min-width: 90px;
}


#language,
#clock,
#wireplumber {
  min-width: 70px;
}

#wireplumber.muted {
  color: red;
}