@import "./modules/battery.css";
@import "./modules/network.css";
@import "./modules/taskbar.css";

* {
    border: none;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    min-height: 0;
}

#clock,
#battery,
#cpu,
#custom-gpu-usage,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#taskbar,
#wireplumber,
#language,
#tray {
    background-color: @backgrounddark;
    padding: 0px 6px;
    /* border: #272727 1px solid; */
}

#language,
#clock,
#wireplumber,
#pulseaudio,
#cpu,
#custom-gpu-usage,
#battery,
#backlight {
    min-width: 65px;
}

#memory {
    min-width: 85px;
}

#wireplumber.muted {
    color: red;
}

#custom-power {
    font-size: 18px;
    min-width: 20px;
}

#custom-launcher {
    font-size: 18px;
}