@import "./assets/scss/themes/feverblush.scss";
@import "./assets/scss/tokens";
@import "./assets/scss/native";
@import "./assets/scss/global";
@import "./assets/scss/modules";
@import "./assets/scss/components";

@import "./assets/scss/windows/control-panel";
@import "./assets/scss/windows/vertical-bar";
@import "./assets/scss/windows/dashboard";
@import "./assets/scss/windows/osd";
@import "./assets/scss/windows/notifications";

@import "./src/dock/styles.scss";

* {
  all: unset;
  font-family: "Iosevka Nerd Font";
}
