.control-panel {
  background-color: $base;
  padding: get-token(padding, small);
}

.userinfo label {
  font-size: 18px;
  color: $white0;
}

.titlesel {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  color: $base;
  background-color: $accent;
  border-radius: 5px;
}

.title {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  color: $white0;
  background-color: $surface1;
  border-radius: 5px;
}

.tricontrol label {
  @extend .title;
  font-size: 22px;
  font-family: "Symbols Nerd font";
  padding: 5px;
}

.unbarwidget {
  padding: 5px;
  border-radius: 5px;
  background-color: $surface0;
  margin: 5px;
  color: $white0;
}

.quoteauthor {
  color: $white0;
  font-size: 14px;
  margin: 5px;
}

.quote {
  // color: $light_blue;
  font-size: 18px;
  margin: 5px;
}

.revcal {
  font-size: 13px;
}

.wmctrlslide {
  trough {
    min-width: 160px;
    min-height: 10px;
    slider {
      background-color: $white2;
      min-height: 15px;
      min-width: 15px;
      margin: -10px;
      border-radius: 25px;
    }
  }
}

.fadeoutbox {
  background-image: linear-gradient(180deg, transparent, $surface0);
  border-radius: 5px;
}

// stupid window overview thing
.overviewworkspace {
  background-color: $surface1;
  border-radius: 5px;
}

.overviewwindow {
  background-color: $base;
  border-radius: 5px;
  border-style: solid;
  border-color: $surface2;
  border-width: 2px;
}
