@import "../../../.config/hypr-theme/waybar/global.css";
@import "../style/main.css";

window {
  border-radius: 0;
  background-color: transparent;
}

window>box {
  min-height: 30px;
  margin: 4px;
  margin-bottom: 2px;
  padding: 5px 4px;
  background-color: @backgrounddark;
}

#taskbar button {
  opacity: 0.2;
}

#taskbar button.active {
  opacity: 1;
}

#backlight {
  background-color: #90b1b1;
}

#custom-power {
  font-size: 18px;
  min-width: 20px;
}

#custom-launcher {
  font-size: 18px;
}