// By Vixima

$BG: #17181c;
$MidBG: #1e1f24;
$LightBG: #26272b;
$DarkGrey: #333438;
$LightGrey: #8f9093;
$DarkFG: #b0b1b4;
$MidFG: #cbccce;
$FG: #e4e5e7;
$Pink: #fa3867;
$Orange: #f57f3d;
$Gold: #f5ca32;
$Lime: #65db3d;
$Turquoise: #53dfca;
$Blue: #4cb2e5;
$Violet: #9a57f5;
$Red: #fa4242;
$white: #fff;

$base: #17181c;
$surface0: #1e1f24;
$surface1: #26272b;
$surface2: #333438;
$white0: #e4e5e7;
$white1: $FG;
$white2: $FG;
$red: $Red;
$green: $Lime;
$accent: $Pink;
