[Desktop Entry]
Name=Nekoray
Comment=V2ray Client
GenericName=VPN
Exec=/opt/nekoray/nekoray
Icon=/opt/nekoray/nekobox.png
Type=Application
Terminal=false
Categories=Network;Internet;
MimeType=
Keywords=nekoray;VPN;V2Ray;