#battery.charging,
#battery.plugged {
    color: #00ff00;
    animation: pulse 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation: pulse 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}