layout {
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }

    pane borderless=false

    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}