.volume-osd {
  @extend .panel-widget;
  border-radius: get-token(border-radius, large);

  min-width: 320px;
}

.volume-scale {
  trough {
    border-radius: get-token(border-radius, large);
    min-height: 32px;
    background-color: $surface1;

    highlight {
      border-radius: get-token(border-radius, large);
      background-color: $accent;
    }
  }

  .volume-icon {
    font-size: get-token(font-sizes, large);
    margin-left: 8px;
  }
}
