[Desktop Entry]
Name=Heroic
Comment=Heroic GameLauncher.
GenericName=Heroic
Exec=/home/hesam/Games/Heroic/Heroic-2.13.0.AppImage
Type=Application
Categories=Game
Keywords=game,library